# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js
.vite/

# testing
coverage/
https/

# production
build/
dist/

# misc
.DS_Store

#prevent .env.*.local files from being checked in
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# generated indices (Note: scripts/library-index-generator.js parses this .gitIgnore to determine which files to generate!)
libs/actions/index.ts
libs/utils/index.ts
libs/fsm/index.ts
libs/ddd/index.ts
libs/ag-grid/index.ts
**/nohup.out

# docs folder may contain notes, works in progress, or files that are "dirty" with secrets
# keep these in ignored exclude folder to prevent commit
docs/exclude
.specstory/
